<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="27.0.1" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Rebex.Common" version="5.0.7119" targetFramework="net461" />
  <package id="Rebex.Ftp" version="5.0.7119" targetFramework="net461" />
  <package id="Rebex.Networking" version="5.0.7119" targetFramework="net461" />
</packages>